---
# luk3yx.github.io CSS file
# Mostly copied from the old site
---

// Variables

$font-stack:    'Roboto', 'Ubuntu', 'Segoe UI', 'Arial', 'sans-serif';
$background:    #EFEFEF;
$accent-colour: #b0bec5;
$accent-fg:     black;
$text-colour:   black;
$border:        none;
$padding:       5px;
$transition:    ease-in-out 250ms 25ms;

// Mixins
@mixin transition($t) {
  -webkit-transition: $t;
     -moz-transition: $t;
          transition: $t;
}

// The CSS


html, body {
    background: $background;
    padding: 0;
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, body, input, textarea, button, li, a {
    color: $text-colour;
    font-family: $font-stack;
}
h1 {
    font-size: 30px;
}

.smallprint {
    background-color: $accent-colour;
    padding: 0.1rem;
    position: relative;
    height: 5rem;
}

.smallprint a:hover, .title a:hover {
    background: $background;
    color: $text-colour;
}

.content {
    margin: 5px + $padding;
    margin-top: 38px + $padding * 4;
    min-height: calc(100vh - 38px - (#{$padding} * 4) - 5.8rem);
}

.title {
    background-color: $accent-colour;
    top: 0;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 38px;
    padding: 0;
    padding-bottom: 2px;
    border-bottom: $border;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    border-radius: 0 0 2px 2px;
    
    h1 {
        font-weight: 300;
        font-size: 32px;
        margin: 0;
        margin-top: -$padding + 2px;
        text-align: center;
    }
    
    a {
        text-decoration: none;
        color: $accent-fg;
        font-family: 'Ubuntu';
    }
    
    img {
        position: fixed;
        left: 0;
        margin: 0;
        height: 1em;
        padding: 2px;
        font-size: 36px;
        @include transition($transition)
    }
}

img, iframe {
    max-width: 100%;
    width: auto;
    height: auto;
}

iframe {
    border: 1px solid $accent-colour;
}

hr {
    border: $border;
    padding-top: $padding;
}

@media only screen and (max-width: 480px) {
    .title {
        max-height: 38px;
        min-height: 27px;
        height: auto;
        padding-bottom: 0;
        
        h1 {
            font-size: 6vw;
        }
        
        img {
            max-height: 35px;
            min-height: 20px;
            height: 6vw;
        }
    }
    body {
        margin: 0px !important;
        top: 28px !important;
        margin-top: 28px !important;
    }
    h1, h2, h3, h4, h5, h6, p, li, body {
        text-align: center;
    }
    //h1, h2, h3, h4, h5, h6, p, body, input, textarea, button, li, a {
    //    font-family: $mobile-fonts;
    //}
    li {
        list-style-type: none;
    }
}

/*
.hamburgerbtn {
    position: absolute;
    top: 0;
    left: 0;
    color: black;
    font-size: 34px;
}
.hamburger {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: -100;
}
.hamburgermenu {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    color: black;
    border-right: 2px solid #000000 !important;
    border-bottom: 2px solid #000000 !important;
    z-index: 9;
}
.hamburgermenu .hamburgerbtn {
    font-size: 32px;
    position: relative;
    display: block;
}
.hamburgermenu, .hamburgermenu p {
    background-color: $accent-colour;
}
.hamburger:checked ~ .hamburgermenu {
    display: block;
}
.hamburger:checked ~ .wrapper {
    position: fixed;
    display: block;
    background-color: black;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 7;
}
.hamburger:checked ~ .smallprint {
    position: fixed;
    display: block;
    background-color: $accent-colour;
    left: 0px;
    bottom: 0;
    margin: 0px !important;
    width: 400px;
    z-index: 8;
    color: black !important;
    border-top: 2px solid #000000 !important;
    border-right: 2px solid #000000 !important;
}
.hamburger:checked ~ .smallprint h5 a, .hamburger:checked ~ .smallprint h5 {
    color: black;
}
*/
.hashshow {
    display: none;
}
.hashshow:target {
    display: block;
}

.new {
    //background: url("/images/glitter.gif");
    overflow: hidden;
    display: inline-block;
    /*clear: both;
    float: left;*/
    margin: 0px;
    padding: $padding;
    border: 1px solid $accent-colour;
    border-radius: $padding;
}

a:hover {
    background-color: $accent-colour;
    color: $accent-fg;
    text-decoration: none;
}

a:hover img {
    background-color: $accent-colour;
}

.centre, .smallprint {
    text-align: center;
}

.title a:hover {
    background-color: transparent;
}
.noselect, #loadscreen, .forceblur, .blur:not(:hover), .button {
   user-select: none;
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
#loadscreen {
    background-color: $accent-colour;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999;
}
#loadscreen, #loadscreen h1, #loadscreen img {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
#loadscreen h1 {
    margin: auto;
    position: fixed;
    font-size: 11vw;
    height: 16.5vw;
    text-align: center;
}
#loadscreen img {
    margin: auto;
    position: fixed;
    height: 75%;
}


.blur:not(:hover), .forceblur {
    text-shadow: 0 0 8px black !important;
    color: transparent !important;
}
.blur, abbr {
    cursor: help;
}
a, button {
    cursor: pointer;
}
.button, button, input[type=submit], select {
    font-weight: 400 !important;
    font-size: 12px !important;
    padding: 4px 4px !important;
    text-decoration: none;
    background: $accent-colour;
    border: 1px solid #000000;
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    text-align: center;
    text-shadow: none;
    box-shadow: 1px 1px 0 #000000;
    
    &:hover {
        background: #FFFFFF;
        color: #111111;
    }
}
.button:active, button:active, input[type=submit]:active {
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 0px 0px 0 #000000;
}
input[type=checkbox] {
    background-color: #FFFFFF;
}
@media only screen and (min-width: 480px) {
    a, a img:not(:hover), a:not(:hover), .blur, a img, .title, .button, button, select, input {
    	@include transition($transition);
    }
}
.forceblur {
    cursor: not-allowed;
}
code, .code {
    background-color: $accent-colour;
    border: 1px solid #aaa;
    font-family: "Ubuntu Mono", monospace;
    padding: 0.2em;
    border-radius: 5px;
    display: inline-block;
}

table {
    border-collapse: collapse;
    width: 75vw;
}
td, th {
    border: 1px solid $accent-colour;
    padding: 5px;
}
