---
layout: compress
---

@import url(https://fonts.googleapis.com/css?family=Mountains+of+Christmas);

* {
    color: black;
    text-shadow: #FFFFFF 0 0 4px;
    font-family:'Mountains of Christmas','Ubuntu','Segoe UI','Arial','sans-serif' !important;
    z-index: 5;
}

#backimg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1 !important;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 4 !important;
}
